<style>
    .correct {
    border: 4px;
    border-style: solid;
    border-color: greenyellow;
    }

    .correct-text {
        color: green
    }
</style>

<div class="card correct" id="flashcard" style="height: 400px; width: 400px; object-fit: cover;">
    <div class="card-body">
        <p class="card-text correct-text just text-center"> Correct! </p>
    </div>
    <a href="#">
        <div class="card-footer bg-success text-light text-center">
            Next    
        </div>
    </a>
</div>

