<style>
    .size-img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="object_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                Img
                            </th>
                            <th>Item</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <a>
                            <tr>
                                <th scope="row"></th>
                                <td>Create new Object</td>
                                <td></td>
                                <td></td>
                            <tr>
                        </a>

                        <th scope="row">1</th>
                        <td>
                            <div class="container"><img src="/static/img_card/chair.webp" class="size-img"> </div>
                        </td>
                        <td>chair</td>
                        <td>
                            <a href="#!">
                                edit
                            </a>
                        </td>
                        </tr>

                        {% with img="/static/img_card/desk.webp", obj="chair" %}
                        {% include 'obj_item.html' %}
                        {% endwith %}


                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>