<style>
    .flashcard-clicked {
      width: 400px;
      height: 400px;
      animation: stretch 0.5s ease forwards;
    }

    @keyframes stretch {
      0% {
        transform: scaleY(1);
      }
      100% {
        transform: scaleY(0);
      }

    }

    .flashcard-appear {
      width: 400px;
      height: 400px;
      animation: appear 0.5s ease forwards;
    }

    @keyframes appear {
      0% {
        transform: scaleY(0);
      }
      100% {
        transform: scaleY(1);
      }

    }

    .correct {
    border: 4px;
    border-style: solid;
    border-color: greenyellow;
    }

    .correct-text {
        color: green
    }

    .wrong {
    border: 4px;
    border-style: solid;
    border-color: red;
    }

    .wrong-text {
        color: red
    }


</style>

<div id="area">
<div class="card" id="flashcard" style="height: 400px; width: 400px; object-fit: cover;" >
    <img src="/static/img_card/desk.webp" class="card-img-top " alt="Fissure in Sandstone"/>
    <div class="card-body">
      <h5 class="card-title">Question #1</h5>
      <p class="card-text"> This patent was accepted in 1953 by </p>
    </div>
    <a href="#" id="my_btn">
        <div class="card-footer bg-primary text-light text-center">
            Check    
        </div>
    </a>
</div>
</div>


<!-- Script to call flip and print whether correct or incorrect cards
    Not sure how to async stuff on py
    Ugliest part of the whole project
    -->

<script>

    function remove_card() {
        let flashcard = document.getElementById('flashcard');
        flashcard.remove();
        let answer = false;
        insert_answer(answer);
    }

    function insert_answer(answer) {
        let container = document.getElementById('area');
        let inner_html = ""
        if (answer == true) {
        inner_html =  
        '<div class="card correct flashcard-appear" id="flashcard" style="height: 400px; width: 400px; object-fit: cover;">' +
        '<div class="card-body">' +
        '<p class="card-text correct-text just text-center"> Correct! </p>' +
        '</div>' +
        '<a href="#" id="my_btn">' +
        '<div class="card-footer bg-success text-light text-center">Next</div>' +
        '</a>' +
        '</div>';
        } else {
        inner_html =  
        '<div class="card wrong flashcard-appear" id="flashcard" style="height: 400px; width: 400px; object-fit: cover;">' +
        '<div class="card-body">' +
        '<p class="card-text wrong-text just text-center"> Wrong! </p>' +
        '</div>' +
        '<a href="#" id="my_btn">' +
        '<div class="card-footer bg-danger text-light text-center">Next</div>' +
        '</a>' +
        '</div>';        
        }

        container.innerHTML = inner_html;
        document.getElementById('my_btn').addEventListener('click', function() {
        document.getElementById('flashcard').classList.remove('flashcard-appear')
        document.getElementById('flashcard').classList.add('flashcard-clicked');
        setTimeout(remove_card, 600);
    });
    }

    document.getElementById('my_btn').addEventListener('click', function() {
        document.getElementById('flashcard').classList.add('flashcard-clicked');
        setTimeout(remove_card, 600);
    });
    
</script>