{% extends "layout.html" %}

{% block page %}

<img src="/static/img/logo_small.png"
    class=" float-start pb-3" style="width: 20%;">

<form method="post">
    <input type="email" class="form-control mb-3 my-2 py-2" name="email" placeholder="Email" required>
    <input type="password" class="form-control mb-3 my-3 py-2" name="password" placeholder="Password" required>
    {% if msg %}
    
    <p class="text-danger"> {{ msg }}</p>
    
    {% endif %}
    <button type="submit" value="submit" class="btn btn-primary mt-2 mx-2">Log In</button>
    
</form>
<form action="{{ url_for('sign')}}" method="GET">
    <button type="submit" class="btn btn-outline-primary mt-2">Create an Account</button>
</form>



{% endblock %}