{% include 'navbar.html' %}

<h1 class="py-2 px-4">Dashboard</h1>

<div class="container w-50 h-50 py-3">
<div class="row row-cols-1 row-cols-md-4 g-4">


{% with img="/static/img/add.png", text="",title="New Game" %}
  {% include 'menu_item.html' %}
{% endwith %}
{% with img="/static/img_card/desk.webp", text="demo 2",title="title 2" %}
  {% include 'menu_item.html' %}
{% endwith %}
{% with img="/static/img_card/lamp.jpeg", text="demo 3",title="title 3" %}
  {% include 'menu_item.html' %}
{% endwith %}
{% with img="/static/img_card/chair.webp", text="demo",title="title" %}
  {% include 'menu_item.html' %}
{% endwith %}
{% with img="/static/img_card/desk.webp", text="demo 2",title="title 2" %}
  {% include 'menu_item.html' %}
{% endwith %}
{% with img="/static/img_card/lamp.jpeg", text="demo 3",title="title 3" %}
  {% include 'menu_item.html' %}
{% endwith %}

</div>