<!--
    menu_items.html

    Individual menu widgets loaded through jinja
-->

<style>
.la {
    transition-duration: 1s;
}

.la:hover {
    transform: scale(1.2);
    
}
</style>
<a href="assignment_one">
<div class="col hover-shadow-3-strong la">
    <div class="card h-100">
        <img src="{{img}}" class="card-img-top"
            alt="Palm Springs Road" />
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{text}}</p>
        </div>
    </div>
</div>
</a>