<!--
    obj_item.html

    Row for modals/object_modal. 
    Edit option is unfinished. When clicked this should use the id information to link to the database and change any information the user wishes. This option should only be available to teachers
    Pre-req: img (image link), obj (name for the object), id (uuid)
    Post-req: row displayed in modals/obj_item.html
-->

<th scope="row">2</th>
<td>
    <div class="container"> <img src="{{ img }}" class="size-img"> </div>
</td>
<td> {{ obj }}</td>
<td>
    <a href="#!">
        edit
    </a>
</td>