<!--
    student_item.html

    Row for an object used in modals/student_modal.html
    Edit option is unfinished. When clicked this should use the id information to link to the database and change any information the user wishes. This option should only be available to teachers
    Pre-req: Name (text), email (text), id (uuid) 
    Post-req: row dispayed in student modal
-->


<tr>
    <th scope="row">1</th>
    <td>Name Name</td>
    <td>generic@gmail.com</td>
    <td>
        <a href="#!">
            edit
        </a>
    </td>
</tr>